{
    "env": {
      "browser": true,
      "commonjs": true,
      "es6": true,
      "node": true
    },
    "plugins": [
      "react",
      "react-hooks",
      "eslint-plugin-import"
    ],
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended", "plugin:cypress/recommended"],
    "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 2018
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "rules": {
      "linebreak-style": ["error", "unix"],
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn",
      "react/prop-types": "off",
      "react/no-unescaped-entities": "off",
      "import/order": [
        "error",
        {
          "groups": ["builtin", "external", "internal"],
          "pathGroups": [
            {
              "pattern": "react",
              "group": "external",
              "position": "before"
            }
          ],
          "pathGroupsExcludedImportTypes": ["react"],
          "newlines-between": "always",
          "alphabetize": {
            "order": "asc",
            "caseInsensitive": true
          }
        }
      ]
    }
  }
  